.main{
    flex:1;
    min-height: 100vh;
    position: relative;
}
.nav{
    width: full;
    padding:1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title{
    font-size: 1.3rem;
}
.user_img img{
    width:3.5rem;
    height: 3.5rem;
    border-radius: 2rem;
}