.main{
    flex:1;
    min-height: 100vh;
    position: relative;
}
.nav{
    width: full;
    padding:1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title{
    font-size: 1.3rem;
}
.profile_pic{
    width:3rem;
    height: 3rem;
    border-radius: 2rem;
    
}
.user_img{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
}